# Ignore everything
*

# Allow directories so Git can traverse directories
!*/

# Always keep the .gitignore file itself
!.gitignore
!.gitattributes

# Allow specific file types
!*.py
!*.bin
!*.sbin
!*.csbin
!*.fw
!*.md
